<!--
Create tabs with an icon and label, using the tabs-positive style.
Optionally, each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Help Tab -->
  <ion-tab title="Help" icon-off="ion-ios-help" icon-on="ion-ios-help" href="tel:800-588-7600">
    <!-- <ion-nav-view name="tab-dash"></ion-nav-view> -->
  </ion-tab>

  <!-- LO Portal -->
  <ion-tab title="LO Portal" icon-off="ion-ios-redo" icon-on="ion-ios-redo" href="#/tab/chats">
    <!-- <ion-nav-view name="tab-chats"></ion-nav-view> -->
  </ion-tab>

  <!-- Rex Homebuyer Tab -->
  <ion-tab title="Homebuyer" icon-off="ion-ios-home" icon-on="ion-ios-home" href="http://rexhomebuyer.com/">
    <!-- <ion-nav-view name="tab-account"></ion-nav-view> -->
  </ion-tab>


</ion-tabs>
