<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <link href="css/style.css" rel="stylesheet">
  

  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCEcWK0Zhc7xaNJNnlv-0LtjkMtAx1LByc&libraries=places"></script>

  <script src="lib/ionic/js/ionic.bundle.js"></script>

  <!-- cordova script (this will be a 404 during development) -->
  <script src="cordova.js"></script>

  <!-- app's native js (now includes controllers and services, so no need for separate files) -->
  <script src="js/app.js"></script>
<!--    // <script src="js/controllers.js"></script> -->
  <script src="js/services.js"></script>
</head>


<body ng-controller="RequestCtrl">
<ion-view view-title="Request" name="request-view">
  <ion-content class="padding">  
    <ion-pane>

      <!-- =-=-=- -->
      <!-- Header -->
      <!-- =-=-=- -->
      <ion-header-bar class="bar-stable">
        <img class="frlogo" src="img/FR_logo.jpg">
      </ion-header-bar>

    <h1 class="title">New Property Prequalification</h2>
       
        <div class="list">

          <label class="item item-input item-divider">
            <span class="input-label">Address</span>
            <input id="pac-input" class="controls" type="text" placeholder="e.g. 225 Bush St. San Francisco, CA 94108" ng-model="property.address" options="address ">
          </label>

          <label class="item item-input item-divider">
            <span class="input-label">Unit</span>
            <input type="text" placeholder="e.g. 5" ng-model="property.apartment">
          </label>
         
         <label class="item item-radio item-divider">
          <ion-list>
            <ion-radio ng-model="choice" ng-value="0" id="changetype-seller" checked="checked">Seller</ion-radio>
            <ion-radio ng-model="choice" ng-value="1" id="changetype-buyer">Buyer</ion-radio>
          </ion-list>

<!--           <ion-radio ng-repeat="data in userType" ng-value="data.value" ng-model="property.userType">
            {{ data.text }}
          </ion-radio> -->
          </label>
          
        </div>   
      <button class="button button-block button-calm" ng-click="submit()">Submit</button>

       <div id="map"></div>
      
 </ion-content>



<!-- =-=-=-=-=-=-=- -->
<!-- Footer buttons -->
<!-- =-=-=-=-=-=-=- -->

<ion-tabs class="tabs-icon-top tabs-color-active-positive">
  <!-- Help Tab -->
  <ion-tab title="Help" icon-off="ion-ios-help" icon-on="ion-ios-help" href="tel:800-588-7600">
    <!-- <ion-nav-view name="tab-help"></ion-nav-view> -->
  </ion-tab>

  <!-- LO Portal -->
  <ion-tab title="LO Portal" icon-off="ion-ios-redo" icon-on="ion-ios-redo" href="#/tab/chats">
    <!-- <ion-nav-view name="tab-LO"></ion-nav-view> -->
  </ion-tab>

  <!-- Rex Homebuyer Tab -->
  <ion-tab title="Homebuyer" icon-off="ion-ios-home" icon-on="ion-ios-home" href="http://rexhomebuyer.com/">
    <!-- <ion-nav-view name="tab-homebuyer"></ion-nav-view> -->
  </ion-tab>
</ion-tabs>

</ion-view>

    <script type="text/ng-template" src="templates/tab.html"></script>
</body>
